*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.left_panel{
    background-color: rgb(240, 240, 240);
    max-width: 230px;
    height: 100vh;
    box-shadow:  1.5px 2.5px 3px ;
}
.tag{
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
    gap:20px;
    align-items: center;
}
.icon1{
    height: 80px;
    width:80px;
}

.title1{
    font-weight: 900;
    font-size: 23px;
}
.but1{
    
    margin-left: 20px;
    font-weight: 700;
    
    padding:12px 100px;
    padding-left: 5px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(240, 240, 240);
    
}
button:hover{
    transition: 0.3s ease-out;
    background-color: black;
    color: white;
    
}
.con1{
    margin-left: 6px;
    
}